<a href="https://colab.research.google.com/github/shuvamadhikary6388-lang/ML/blob/codes/ML%20DAY%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
df=pd.read_csv("train_LR.csv")
print(df)

        Tier  FICO  Term   Amount  Previous_Rate  Competition_rate  Rate  \
0          2   729    66  22000.0            -10              5.75  6.29
1          1   786    60  37000.0            -10              4.09  4.09
2          1   742    60  25000.0            -10              3.99  3.99
3          1   631    60  25000.0            -10              4.59  4.49
4          4   656    72  27300.0            -10              5.35  7.99
...      ...   ...   ...      ...            ...               ...   ...
109239     1   786    36  35000.0            -10              3.79  3.79
109240     2   692    36  11900.0              6              4.75  5.03
109241     1   800    60  26955.0            -10              5.49  5.24
109242     1   746    48  33000.0            -10              4.99  4.44
109243     3   710    48  15000.0            -10              5.75  5.98

        Cost_Funds  Partner Bin  Car_Type_N  Car_Type_R  Car_Type_U  Accept
0           1.1625            1           0           0           1       1
1           1.1400            2           1           0           0       0
2           1.1163            3           1           0           0       0
3           1.6150            1           1           0           0       0
4           1.1200            1           0           0           1       1
...            ...          ...         ...         ...         ...     ...
109239      1.1800            1           1           0           0       0
109240      1.1000            3           0           1           0       1
109241      1.8100            3           1           0           0       0
109242      1.3800            3           1           0           0       0
109243      1.8200            2           0           0           1       1

[109244 rows x 13 columns]

In [5]:
new_data=[{'c1':"virat",'c2':2008,'c3':25000,'c4':83},{'c1':"rohit",'c2':2007,"c3":15000,'c4':50},{'c1':"sachin",'c2':1989,'c3':34000,'c4':100}]
df=pd.DataFrame(new_data)
df.to_csv("cricket.csv",index="false")
print(df)

       c1    c2     c3   c4
0   virat  2008  25000   83
1   rohit  2007  15000   50
2  sachin  1989  34000  100

In [4]:
from sklearn.datasets import load_iris
data=load_iris()
df=pd.DataFrame(data.data,columns=data.feature_names)
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
import requests
API_KEY="4ed96bef1ee9409fb16190247250112"
city="DURGAPUR"
url=f"https://api.weatherapi.com/v1/current.json?key={API_KEY}&q={city}"
response=requests.get(url)
data=response.json()
print(data)

{'location': {'name': 'Durgapur', 'region': 'West Bengal', 'country': 'India', 'lat': 23.4833, 'lon': 87.3167, 'tz_id': 'Asia/Kolkata', 'localtime_epoch': 1764616248, 'localtime': '2025-12-02 00:40'}, 'current': {'last_updated_epoch': 1764615600, 'last_updated': '2025-12-02 00:30', 'temp_c': 19.6, 'temp_f': 67.3, 'is_day': 0, 'condition': {'text': 'Clear', 'icon': '//cdn.weatherapi.com/weather/64x64/night/113.png', 'code': 1000}, 'wind_mph': 4.5, 'wind_kph': 7.2, 'wind_degree': 359, 'wind_dir': 'N', 'pressure_mb': 1013.0, 'pressure_in': 29.91, 'precip_mm': 0.0, 'precip_in': 0.0, 'humidity': 44, 'cloud': 5, 'feelslike_c': 19.6, 'feelslike_f': 67.3, 'windchill_c': 19.6, 'windchill_f': 67.3, 'heatindex_c': 19.6, 'heatindex_f': 67.3, 'dewpoint_c': 7.1, 'dewpoint_f': 44.8, 'vis_km': 10.0, 'vis_miles': 6.0, 'uv': 0.0, 'gust_mph': 9.3, 'gust_kph': 15.0, 'short_rad': 0, 'diff_rad': 0, 'dni': 0, 'gti': 0}}

In [10]:
from bs4 import BeautifulSoup
url="https://books.toscrape.com"
response=requests.get(url)
soup=BeautifulSoup(response.text,"html.parser")
names=soup.find_all("h3")
print(names)

[<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>, <h3><a href="catalogue/tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>, <h3><a href="catalogue/soumission_998/index.html" title="Soumission">Soumission</a></h3>, <h3><a href="catalogue/sharp-objects_997/index.html" title="Sharp Objects">Sharp Objects</a></h3>, <h3><a href="catalogue/sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>, <h3><a href="catalogue/the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>, <h3><a href="catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html" title="The Dirty Little Secrets of Getting Your Dream Job">The Dirty Little Secrets ...</a></h3>, <h3><a href="catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html" title="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull">The Coming Woman: A ...</a></h3>, <h3><a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a></h3>, <h3><a href="catalogue/the-black-maria_991/index.html" title="The Black Maria">The Black Maria</a></h3>, <h3><a href="catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html" title="Starving Hearts (Triangular Trade Trilogy, #1)">Starving Hearts (Triangular Trade ...</a></h3>, <h3><a href="catalogue/shakespeares-sonnets_989/index.html" title="Shakespeare's Sonnets">Shakespeare's Sonnets</a></h3>, <h3><a href="catalogue/set-me-free_988/index.html" title="Set Me Free">Set Me Free</a></h3>, <h3><a href="catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html" title="Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)">Scott Pilgrim's Precious Little ...</a></h3>, <h3><a href="catalogue/rip-it-up-and-start-again_986/index.html" title="Rip it Up and Start Again">Rip it Up and ...</a></h3>, <h3><a href="catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html" title="Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991">Our Band Could Be ...</a></h3>, <h3><a href="catalogue/olio_984/index.html" title="Olio">Olio</a></h3>, <h3><a href="catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html" title="Mesaerion: The Best Science Fiction Stories 1800-1849">Mesaerion: The Best Science ...</a></h3>, <h3><a href="catalogue/libertarianism-for-beginners_982/index.html" title="Libertarianism for Beginners">Libertarianism for Beginners</a></h3>, <h3><a href="catalogue/its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a></h3>]